<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}">


<head>
    <title>Empresa</title>
</head>
<body>
<section layout:fragment="conteudo">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Empresa</strong>
        </div>
        
        <div class="panel panel-default" style="margin:10px" > 
    	 	 
 		
  			<div class="panel-heading">  
  				<h1 class="panel-title">Pesquisa de Empresas </h1>  
  			<div class="container-fluid"> 
 		 	   <form  method="POST" th:object="${empresaFilter}" th:action="@{/empresas}" style="margin: 20px 0">
 		 	   <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
 		 	   		<button type="button" class="close" data-dismiss="alert" ><span aria-hidden="true">&times;</span></button> 
 		 			<p th:if="${#fields.hasErrors('dataInicial')}" class="erro-mensagem" th:errors="*{dataInicial}">Data Inicial</p> 
 			 		<p th:if="${#fields.hasErrors('dataFinal')}" class="erro-mensagem" th:errors="*{dataFinal}">Data Final</p>
 			 	</div>	            
 			        <div class="row">
		        	  <div class="form-group  col-sm-8" >
		        		<label for="nomeEmpresa">Nome</label> 
						<input type="text" class="form-control" placeholder="Nome" th:field="*{empresa.nomeEmpresa}"/>  
		        	  </div>
		        	  <div class="form-group  col-sm-4" >
		        	  	
 						<label for="nomeEmpresa">CNPJ</label>
 						<input type="text" class="form-control cnpj" placeholder="CNPJ" th:field="*{empresa.cnpjFormatado}"/>
 						</div>
		        	  </div>
		        	  <div class="row">
		        	  	<div class=" form-group  col-sm-4" >	
		        	  		<label for="dataInicial">Data Inicial</label> 
	 						<input type="text" class="form-control datepicker" placeholder="Data Inicial"  data-provide="datepicker" th:field="*{dataInicial}"/>
		        	  	</div>
		        	  	<div class="form-group  col-sm-4" >	
		        	  		<label for="dataFinal">Data Final</label> 
 							<input type="text" class="form-control datepicker" placeholder="Data Final" data-provide="datepicker" th:field="*{dataFinal}"/>	
		        	  	</div>
		        	  	<div class="form-group  col-sm-2" >	
		        	  			
		        	  	</div>
		        	  	<div class="form-group  col-sm-1" >
		        	  		<label></label>
		        	  		<button type="submit" class="btn btn-primary">Pesquisar</button>
		        	  	</div>	
		        	  	<div class="form-group  col-sm-1" >	
		        	  		<label></label>
							<input type="button" class="btn btn-primary" id="limpar" value="Limpar"> </input> 
	 					</div>
		        	  	
		        	  	</div>
 			        		 
 						</form> 
  			  </div>  
  			  </div>  
 			</div> 
        
      <div class="panel-body">
            <div class="table-responsive">
            <th:block th:include="fragments/Mensagens"></th:block>
                <table class="table table-sm table-striped table-hover table-bordered">
                	<thead>
						<tr> 
	 						<th > Código </th> 
	 						<th > Nome </th>
	 						<th > CNPJ </th>  
	 						<th > Data Cadastro</th>
	 						<th></th> 
	 					</tr>	 
					</thead> 
	 				<tbody> 
	 					<tr th:each="empresa:${empresas}"> 
	 						<td th:text="${empresa.codigoEmpresa}"> </td> 
	 						<td th:text="${empresa.nomeEmpresa}"> </td>
	 						<td th:text="${empresa.cnpjFormatado}"> </td> 
	 						<td th:text="${#dates.format(empresa.dataRegistro, 'dd/MM/yyyy')}"></td>
	 						<td>
                                <div class="btn-group pull-right">
                                    <a class="btn btn-sm btn-primary" th:href="@{/empresas/edit/{id}(id=${empresa.codigoEmpresa})}" >Editar</a>
                                    <a class="delete btn btn-sm btn-danger" th:href="@{/empresas/delete/{id}(id=${empresa.codigoEmpresa})}">Excluir</a>
                               </div>
                            </td>
                        </tr> 
	 			</table>
            </div>
        </div>
        <div class="panel-footer">
            <a class="btn btn-sm btn-primary" th:href="@{/empresas/add/}" >Adicionar</a>
            <a class="btn btn-sm btn-primary" th:href="@{/empresas/download/}" >Exportar</a>
        </div>
    </div>
    </section>
</body>
</html>





